@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

*{
    font-family: 'Kurale', serif;
}

body{
    background-color: rgb(57, 59, 59);
}
.main--container{

    max-width: 400px;
    margin: 0 auto;
}