<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' type = 'text/css' media = 'screen' href = '{% static "styles/main.css" %}'>
    <title>Document</title>
</head>
<body>
    <section class = "main--container">
        <form id = "post_form">
            {% csrf_token %}
            <input type = "text" name = "body"/>
        </form>

        
        <div id = "post_list">
            {% for post in Posts %}
                {% comment %} <h3>{{post.body}}</h3
                <h4>{{post.created|timesince}} ago </h4> {% endcomment %}
            {% endfor %}
        </div>
    </section>
</body>
<script type = "text/javascript">

    let form = document.getElementById('post_form')

    form.addEventListener('submit',(e) => {
        e.preventDefault()
        let bodyText = e.target.body.value
        console.log(bodyText)
        form.reset()

        submitData(bodyText)
    })

    let submitData = async(bodyText) => {
        let response = await fetch('/add/', {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'Accept': 'application/json'
            },
            body:JSON.stringify({'body':bodyText})
        })

        let data = await response.json()
        console.log('Data:',data)
        addMessageToDom(data)
    }

    let addMessageToDom = async (message) =>{
        let postList = document.getElementById('post_list')

        let postWrapper = ` <h3>${message.body}</h3
                            <h4>${message.created} ago </h4>
                            `

        postList.insertAdjacentHTML('afterbegin',postWrapper)         
    }

</script>
<script src="https://code.jquery.com/jquery-3.6.1.js"
 integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" 
 crossorigin="anonymous"></script>
<script>
$(document).ready(function(){

    setInterval(function(){
        $.ajax({
            type:'GET',
            url:"{% url 'getPosts' %}",
            success:function(response){
                $("#post_list").empty();
                for(var post=response.Posts.length-1; post >= 0; post--){
                    console.log();
                    var now = new Date()
                    var selected_date = new Date(response.Posts[post].created)
                    console.log(now.getSeconds());
                    console.log(selected_date.getSeconds());
                    var tmp = "<h3>"+response.Posts[post].body+"   "+((now - selected_date)/1000).toFixed() +" Секунд назад";
                    $("#post_list").append(tmp);
                }
            },
            error:function(response){
                
            }
        });

    },1000);

});
</script>
</html>