<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form id = "post_form">
        <input type = "text" name = "body"/>
    </form>

    <h3>TEST Chat</h3>
    {% for post in Posts %}
    <h3>{{post.body}}</h3
    <h4>{{post.created|timesince}} ago </h4>
    {% endfor %}
</body>
<script type = "text/javascript">

    let form = document.getElementById('post_form')

    form.addEventListener('submit',(e) => {
        e.preventDefault()
        let bodyText = e.target.body.value
        console.log(bodyText)
        form.reset()
    })

    let submitData = async() => {
        let response = await fetch('/add/')
    }

</script>
</html>